		input[type="text"] {
		    height: 50px;
		    width: 700px;
		}

		input[type="submit"] {
			padding-bottom: 5px;
			height: 55px;
			width: 100px;
			font-size: 20px;
		}

		h1 {
			color: #042d63; 
			font-weight: bolder;
		}

		body {font-family: Arial;}

		.tab {
		  overflow: hidden;
		  border: 1px solid #ccc;
		  background-color: #f1f1f1;
		  display: block;
		}

		.tab button {
		  background-color: inherit;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}

		.tab button:hover {
		  background-color: #00005F;
		  color: #FFFFFF;
		}

		.tab button.active {
		  background-color: #ccc;
		}

		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  border: 1px solid #ccc;
		  border-top: none;
		}